<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="nofollow"/>
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
<style>
body{width:100%;height:100%;overflow:hidden;background:url(images/pc_loginBg.jpg) no-repeat;background-size:cover;position:absolute;}
</style>
<!--<script src="js/jquery.js"></script>-->
<!--<script src="js/Particleground.js"></script>-->
<!--<script>-->
<!--$(document).ready(function() {-->
    <!--$('body').particleground({-->
        <!--dotColor: 'green',-->
        <!--lineColor: '#c9ec6e'-->
    <!--});-->
    <!--$('.intro').css({-->
        <!--'margin-top': -($('.intro').height() / 2)-->
    <!--});-->
<!--})-->
<!--</script>-->

</head>
<body>
  <section class="loginform">
   <h1>学生选课系统</h1>
   <ul>
    <li>
     <label>账号：</label>
     <input type="text" class="textBox" id="name" placeholder="管理员账号"/>
    </li>
    <li>
     <label>密码：</label>
     <input type="password" class="textBox" id="psw" placeholder="登陆密码"/>
    </li>
    <li>
     <input type="button" class="login" id="dl" value="立即登陆"/>
    </li>
    <li>
    <input type="button" class="login" id="d2" value="注册"/>
    </li>
   </ul>
  </section>
</body>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script>
        $("#dl").click(function () {
            $.post("/judge",{
                "name":$("#name").val()
            },function(arr) {
               if (arr[0]!=undefined) {
                   if (arr[0].password == $("#psw").val()) {
                       location.href = "index.html";
                   }
               }else
            {
                alert("登录失败")
            }
        })
        })
     $("#d2").click(function () {
        location.href="/register"
     })
</script>
</html>