<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
 <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>修改密码</em></span>
  </div>
  <table class="noborder">
   <tr>
    <td width="15%" style="text-align:right;">账号：</td>
    <td><input type="text" id="account" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;">旧密码：</td>
    <td><input type="password" id="pw0" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;">新密码：</td>
    <td><input type="password" id="pw1" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;">再次确认密码：</td>
    <td><input type="password" id="pw2" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="button" id="submit" class="tdBtn" value="保存"/></td>
   </tr>
  </table>
  <script>
   $("#submit").click(function(){
       if($("#pw1").val()!=$("#pw2").val()){
           alert("两次新密码输入不一致")
       }
       else{
           $.post("/judge",{
               "name":$("#account").val()
           },function(arr){
               if (arr[0]!=undefined) {
                   if (arr[0].password == $("#pw0").val()) {
                       $.post("/change",{
                           "name":$("#account").val(),
                           "password":$("#pw1").val()
                       },function(info){
                           if(info==1){
                               alert("修改成功,请重新登录",location.href="/login")
                           }
                       })
                   }
                   else
                   {
                       alert("旧密码输入错误")
                   }
               }
               })
       }
   })

  </script>
 </div>
</body>
</html>